.header{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 80%;
    height: 690px;
    margin-left: 13%;
    background-color: white;
}
body{
    background-image: url(../images/design-header.jpg);
}
.ima{
    width:100%;
    height:87px ;
    border-radius: 50%;
    margin-top: -7px;
}
.a1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
    background-color: #775AB7;
    width: 100%;
    height: 100px;
    margin-top: -10px;
}
.a11{
    width:7.5%;
    height:82px ;
    border-radius: 50%;
   

}
.a12{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width:62%;
    height:60px ;
    margin-top: 40px;
}
.a22{
    width: 15%;
    height: 30px;
    font-size: 16px;
    margin-top: 30px;
}
.a{
    color: white;
   
}
.a:hover{
	color:black;
}
.a13{
    width:14%;
    height:45px ;
}
.a2{
    background-color: white;
    width: 100%;
    height: 440px;
}
.a21{
    display: flex;
    background-color: white;
    width: 45%;
    height: 460px;
    margin-left: 27%;
    border-radius: 10px;
    margin-top: -32px;
}
button{
    width: 82%;
    height:40px;
    font-size: 19px;
    color: #775AB7;
    background-color: white;
   

}
button:hover {background-color: #4a337d}

button:active {
  background-color:  #4a337d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.saisirdesquestions input {
    border: 2px solid #3792E5;
    width: 80%;
    height: 50px;
    margin-top:5%;
    border-radius: 10px 5px;
}

.TAILLE {
    width: 40px;
    height: 30px;
    border: 2px solid #D9D9D9;
    background-color: #D9D9D9;
    box-shadow: 3px 3px 3px #775AB7;
    border-radius: 5px 5px;
}

.TAILLE1 {
    width: 35%;
    height: 35px;
    background-color: #D9D9D9;
    box-shadow: 3px 3px 3px #775AB7;
    border-radius: 5px 5px;

}

.cadree {
    font-size: 20px;
    border: 4px solid #775AB7;
    border-radius: 25px;
    width: 30em;
    margin-left: 20%;
    padding: 10px;
    margin-top: -60px;
}
.TAILLE2{
    border: 2px solid#D9D9D9;
    box-shadow: 3px 3px 3px #775AB7;
    background-color: #D9D9D9;
    width: 60%;
    height: 20px;
    border-radius: 10px 5px;
}
textarea{
    width: 50%;
    height: 60px;
    box-shadow: 3px 3px 3px #775AB7;
    margin-top: 3%;
    background-color: #D9D9D9;
    border-radius: 5px 5px;
}
.butonQuestion{
    width: 26%;
    margin-left: 35.8%;
    margin-top: 10px;
    background: #775AB7;
    color: white;
    border: none;
}
.breukhnieule{
    padding: 7px;
}
.breukh{
cursor: pointer;
background-color: #775AB7;
color: white;
padding: 4px;
border-radius:2px;
}
#repSimple, #repUnique , #repMultiple{
display: none;
}
.fa-trash{
color: red;
cursor: pointer;
}
.show{
display: block !important;
}
span{
    color: red;
}